/* Switch开关 */
.switch_content {
    margin: 6px;
}

.switch {
    width: 56px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.normal_switch {
    border: 2px solid #1E1E1F;
    background: linear-gradient(to right, #3C8527 50%, #8C8D90 50%); /* 左半部分绿色，右半部分灰色 */
    box-shadow: inset 2px 2px rgba(255, 255, 255, 0.2), inset -2px -2px rgba(255, 255, 255, 0.1);
}

.disabled_switch {
    border: 2px solid #8C8D90;
    background: #D0D1D4;
}

.switch_style {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: transparent;
    top: 3px;
}

.switch_style.left {
    left: 5px;
}

.switch_style.right {
    right: 6px;
}

.switch_style.left img, .switch_style.right img {
    height: 16px;
}

.disabled_switch .switch_style.left img {
    filter: grayscale(100%) brightness(50%);
}

.disabled_switch .switch_style.right img {
    filter: invert(100%) grayscale(100%) brightness(50%);
}

@keyframes bounce_left {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    48% {
        transform: translateX(-2px);
    }
    52% {
        transform: translateX(0px);
    }
}

@keyframes bounce_right {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    48% {
        transform: translateX(2px);
    }
    52% {
        transform: translateX(0px);
    }
}

.switch_bounce_left {
    animation: bounce_right 175ms ease-in-out 2;
}

.switch_bounce_right {
    animation: bounce_left 175ms ease-in-out 2;
}

.switch_slider {
    position: absolute;
    top: -6px;
    left: -2px;
    width: 28px;
    height: 28px;
    z-index: 1;
    background-color: #D0D1D4;
    transition: left 125ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.normal_switch .switch_slider {
    border: 2px solid #1E1E1F;
    box-shadow: inset 0 -4px #58585A, inset 2px 2px rgba(255, 255, 255, 0.6), inset -2px -6px rgba(255, 255, 255, 0.4);
}

.disabled_switch .switch_slider {
    border: 2px solid #8C8D90;
    box-shadow: inset 0 -4px #B1B2B5;
}

.normal_switch .switch_slider:hover, .normal_switch .switch_slider:active, .normal_switch .switch:hover .switch_slider, .normal_switch .switch_slider.active {
    background-color: #B1B2B5;
    box-shadow: inset 0 -4px #58585A, inset 2px 2px rgba(255, 255, 255, 0.8), inset -2px -6px rgba(255, 255, 255, 0.6);
}

.switch.on .switch_slider {
    left: 27px;
}



/* Checkbox复选框 */
.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #8C8D90;
    border: 2px solid #1E1E1F;
    box-shadow: inset 2px 2px rgba(255, 255, 255, 0.2), inset -2px -2px rgba(255, 255, 255, 0.1);
    position: relative;
}

.custom-checkbox:hover {
    background-color: #B1B2B5;
}

.custom-checkbox:active {
    background-color: #58585A;
}

.custom-checkbox.on {
    background-color: #3C8527;
}

.custom-checkbox.on:hover {
    background-color: #2A641C;
}

.custom-checkbox.on:active {
    background-color: #1D4D13;
}

.custom-checkbox.disabled {
    background-color: #D0D1D4;
    border: 2px solid #8C8D90;
    box-shadow: none;
}

.custom-checkbox.disabled:hover, .custom-checkbox.disabled:active {
    background-color: #D0D1D4;
    border: 2px solid #8C8D90;
    box-shadow: none;
}

.custom-checkbox img {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27px;
    height: 27px;
}

.custom-checkbox.disabled img {
    filter: grayscale(100%) brightness(50%);
}

.custom-checkbox.on img {
    display: block;
}