/*自定义字体*/
@font-face {
    font-family: 'Minecraft Ten';
    src: url("fonts/Minecraft-Ten.otf") format('opentype');
}

@font-face {
    font-family: 'Minecraft Seven';
    src: url("./fonts/Minecraft-Seven.otf") format('opentype');
}

@font-face {
    font-family: 'Minecraft Five Bold';
    src: url("./fonts/Minecraft-Five-Bold.otf") format('opentype');
}

@font-face {
    font-family: 'Minecraft Five';
    src: url("./fonts/Minecraft-Five.otf") format('opentype');
}

@font-face {
    font-family: 'NotoSans Bold';
    src: url("./fonts/NotoSans-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'NotoSans BoldItalic';
    src: url("./fonts/NotoSans-BoldItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'NotoSans Italic';
    src: url("./fonts/NotoSans-Italic.ttf") format('truetype');
}

/*界面选择事件*/
::selection {
    background-color: transparent;
    color: inherit;
}

.title1, .title2, .title3, .description1, .description2 {
    color: #FFFFFF;
}

.title1, .title2, .title3 {
    margin: 4px 0;
}

.title1 {
    font-size: 26px;
    font-family: "Minecraft Seven", sans-serif;
}

.title2 {
    font-size: 23px;
    font-family: "Minecraft Seven", sans-serif;
}

.title3 {
    font-size: 20px;
    font-family: "Minecraft Seven", sans-serif;
}

.description1 {
    font-size: 18px;
    font-family: "NotoSans Bold", sans-serif;
    margin: 4px 0;
}

.description2 {
    font-size: 16px;
    font-family: "NotoSans Bold", sans-serif;
    margin-top: 4px;
    margin-bottom: 8px;
}

/*默认按钮*/
.btn {
    font-family: "NotoSans Bold", sans-serif;
    height: 40px;
    width: 200px;
    margin: 6px;
    justify-self: center;
}

.normal_btn {
    background-color: #D0D1D4;
    color: #000000;
    padding-bottom: 4px;
    border: 2px solid #1E1E1F;
    box-shadow: inset 0 -4px #58585A, inset 3px 3px #E3E3E5, inset -3px -7px #ECEDEE;
}

.normal_btn:hover {
    background-color: #B1B2B5;
    box-shadow: inset 0 -4px #58585A, inset 3px 3px #EFF0F0, inset -3px -7px #E0E0E1;
}

.normal_btn:active {
    margin-top: 10px;
    height: 36px;
    padding-bottom: 0;
    background-color: #B1B2B5;
    box-shadow: inset 3px 3px #EFF0F0, inset -3px -3px #E0E0E1;
}

.green_btn {
    background-color: #3C8527;
    color: #FFFFFF;
    padding-bottom: 4px;
    border: 2px solid #1E1E1F;
    box-shadow: inset 0 -4px #1D4D13, inset 3px 3px #639D52, inset -3px -7px #4F913C;
}

.green_btn:hover {
    background-color: #2A641C;
    box-shadow: inset 0 -4px #1D4D13, inset 3px 3px #7FA277, inset -3px -7px #699260;
}

.green_btn:active {
    margin-top: 10px;
    height: 36px;
    padding-bottom: 0;
    background-color: #1D4D13;
    box-shadow: inset 3px 3px #779471, inset -3px -3px #608259;
}

.red_btn {
    background-color: #C33636;
    color: #FFFFFF;
    padding-bottom: 4px;
    border: 2px solid #1E1E1F;
    box-shadow: inset 0 -4px #AD1D1D, inset 3px 3px #D55E5E, inset -3px -7px #CF4A4A;
}

.red_btn:hover {
    background-color: #C02D2D;
    box-shadow: inset 0 -4px #AD1D1D, inset 3px 3px #DF9696, inset -3px -7px #D98181;
}

.red_btn:active {
    margin-top: 10px;
    height: 36px;
    padding-bottom: 0;
    background-color: #AD1D1D;
    box-shadow: inset 3px 3px #D68E8E, inset -3px -3px #CE7777;
}

.disabled_btn {
    background-color: #D0D1D4;
    color: #000000;
    padding-bottom: 4px;
    border: 2px solid #8C8D90;
    box-shadow: inset 0 -4px #B1B2B5;
}

.block {
    border-top: 2px solid #5A5B5C;
    border-bottom: 2px solid #333334;
}

.block_spacing {
    height: 20px;
}

/*提示框*/
.tooltip-area {
    height: 40px;
}

.tooltip {
    font-family: "NotoSans Bold", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.tooltip a {
    color: inherit;
    position: relative;
    text-decoration: none;
}

.tooltip a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0px;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
}

.information_tip {
    background-color: #2E6BE5;
    margin: 10px 20px;
    height: 30px;
}

.normal_tip {
    background-color: #1E1E1F;
    margin: 10px 20px;
    height: 30px;
}

.important_tip {
    color: #000000;
    background-color: #FFE866;
    margin: 10px 20px;
    height: 30px;
}

.important_tip a:after {
    height: 2px;
    background-color: #000000;
}

.preview_title {
    font-size: 18px;
    font-family: "NotoSans Bold", sans-serif;
    margin: 4px 0;
}

.preview_detail {
    font-size: 16px;
    font-family: "NotoSans Bold", sans-serif;
    margin: 4px 0;
}

.preview_btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview_btn {
    width: 140px;
}

.page_info_title, .page_info {
    font-family: "NotoSans Bold", sans-serif;
    font-size: 12px;
    margin-left: 12px;
}

.page_info_title {
    color: rgba(255, 255, 255, 0.8);
}

.page_info {
    color: rgba(255, 255, 255, 0.4);
}

.page_info a {
    color: inherit;
    position: relative;
    text-decoration: none;
}

.page_info a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0px;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
}